.Typist .Cursor {
  display: inline-block;
  color: var(--green-bright);
}

.Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

#intro {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 80px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

#intro-content {
  max-width: 600px;
  margin-right: 300px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#animations-container {
  position: absolute;
  right: 80px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 0;
  z-index: 0;
}

.intro-title {
  font-family: "NTR", sans-serif;
  font-size: 85px;
  color: var(--lightest-slate);
  margin-bottom: 10px;
}

.intro-title .Typist {
  font-family: "NTR", sans-serif;
  font-size: 85px;
}

.intro-subtitle {
  color: var(--green-bright);
  font-family: "NTR", sans-serif;
  font-size: 40px;
  margin-bottom: 20px;
}

.intro-desc {
  font-family: "NTR", sans-serif;
  font-size: 22px;
  color: var(--slate);
  line-height: 1.6;
  margin-bottom: 10px;
}

.intro-contact {
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  font-family: "NTR", sans-serif;
  font-size: 22px;
  color: var(--green-bright) !important;
  border: 1px solid var(--green-bright);
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.intro-contact:hover {
  background-color: var(--green-tint);
  transform: translateY(-3px);
}

.intro-contact svg {
  vertical-align: middle;
  margin-right: 5px;
}

@media only screen and (max-width: 1200px) {
  #intro {
    padding: 0 50px;
  }

  #intro-content {
    margin-right: 0;
  }

  #animations-container {
    display: none;
  }

  .intro-title {
    font-size: 70px;
  }

  .intro-subtitle {
    font-size: 35px;
  }

  .intro-desc {
    font-size: 20px;
  }
}
